#form-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 20px;
}

#form-container input {
  height: 40px;
  padding-left: 10px;
  margin: 5px 5px 5px 20px;
  width: 200px;
}

input[type='submit'] {
  width: 100px;
}

/* card style */

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 700px;
  height: 500px;
  color: white;
  border: 1px solid black;
  background-image: url(./card_blank.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

::placeholder {
  color: rgb(0, 0, 0);
  letter-spacing: 0.4em;
}

.card input {
  border: none;
  background: rgb(118, 118, 118);
  height: 25px;
  color: rgb(0, 0, 0);
}

.card .number {
  position: absolute;
  top: 250px;
  left: 260px;
  font-size: 1rem;
  width: 250px;
  height: 30px;
}

.month, .year {
  position: absolute;
  top: 300px;
  left: 420px;
  width: 20px;
}

.slash {
  position: absolute;
  top: 288px;
  left: 408px;
}

.month {
  left: 380px;
}

.name {
  position: absolute;
  top: 350px;
  left: 190px;
  width: 250px;
  font-size: 1rem;
}

#card-logo {
  position: absolute;
  top: 300px;
  left: 480px;
  width: 100px;
}