#form-container {
  display: flex;
  flex-direction: column;
/*   margin-left: 50px; */
/*   margin-top: 20px; */
}

/* #form-container input {
  height: 40px;
  padding-left: 10px;
  margin: 5px 5px 5px 20px;
  width: 200px;
} */

input[type='submit'] {
  width: 100px;
}

#cardnumber {
  position: absolute;
  top: 150px;
  left: 50px;
  width:350px;
  height:30px;
  font-size:1.2rem;
  opacity: 0;
/*   border:none; */
  background: transparent;
}

#name {
  position: absolute;
  top: 240px;
  left: 50px;
  height: 30px;
  width: 300px;
/*   background: transparent; */
  opacity: 0;
}

#month {
  position:absolute;
  top: 200px;
  left: 238px;
  width: 28px;
  height:26px;
  background: transparent;
  opacity: 0;
}

#year {
  position:absolute;
  top: 200px;
  left: 278px;
  width: 28px;
  height:26px;
  background: transparent;
  opacity: 0;
}

/* card style */

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
/*   width: 700px; */
/*   height: 500px; */
  font-family: 'Card';
  color: rgb(255, 255, 255);
}

::placeholder {
  color: rgb(201, 201, 201);
  letter-spacing: 0.5em;
}


.card input {
  border: none;
  background: transparent;
  height: 25px;
  color: rgb(201, 201, 201);
  font-family: 'Card';
  text-transform: uppercase;
}

.bank-name {
  position: absolute;
  font-family: helvetica;
  top: -70px;
  left: 230px;
  font-size: 2.5rem;
}

.chip {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 70px;
}

.card .number {
  position: absolute;
  top: 150px;
  left: 50px;
  font-size: 1.25rem;
  width: 340px;
  height: 30px;
}

.month, .year {
  position: absolute;
  top: 200px;
  left: 280px;
  width: 25px;
}

.slash {
  position: absolute;
  top: 308px;
  left: 400px;
}

.month {
  left: 240px;
}

.valid {
  position: absolute;
  top: 85px;
  left: 235px;
  font-size: 0.7rem;
}

.name {
  position: absolute;
  top: 240px;
  left: 55px;
  width: 250px;
  font-size: 1.2rem;
}

#card-logo {
  position: absolute;
  top: 200px;
  left: 345px;
  width: 100px;
  height: 80px;
  border: 1px solid silver;
  border-radius: 5px;
}

/* flipper */

label {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  width: 470px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  z-index: 20;
}

.front, .back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #FFF;
    text-align: center;
    line-height: 200px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
/*     border-radius: 2px; */
}

.card .back {
    background: rgb(177, 177, 177);
    color: #FFF;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

input[type='checkbox'] {
  display: none;
}

:checked + .card {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.mag-strip {
  height: 50px;
  width: 100%;
  background-color: black;
}

.sig-line {
  position: absolute;
  height: 50px;
  width: 75%;
  top: 90px;
  left: 20px;
  background-color: antiquewhite;
}

.security-code {
  position: absolute;
  top: 76px;
  left: 330px;
  width: 60px;
  height: 30px;
}

#secCode {
  position: absolute;
  width: 50px;
  top: 180px;
  left: 390px;
  opacity: 0;
  z-index: 5;
}

.secCode {
  position: absolute;
  width: 50px;
  top: 180px;
  left: 390px;
}